*.rs linguist-language=Rust
## nuklear option
#* linguist-vendored
## languag usage
*.c linguist-language=c
*.cc linguist-language=cpp
*.C linguist-language=cpp
## Standard documentation
AUTHORS linguist-documentation
COPYING linguist-documentation
ChangeLog linguist-documentation
Condition_Variable_FAQ linguist-documentation
INSTALL linguist-documentation
NEWS linguist-documentation
README linguist-documentation
README* linguist-documentation
QUICKSTART linguist-documentation
## autotools
aclocal.m4 linguist-vendored
configure linguist-vendored
configure.in linguist-vendored
depcomp linguist-vendored
missing linguist-vendored
mkinstalldirs linguist-vendored
Makefile.am linguist-vendored
Makefile.in linguist-vendored
Makefile linguist-vendored
makefile linguist-vendored
## My Project files
*.dia linguist-documentation
*.eps linguist-documentation
